* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
}
/*nav*/
.navigation {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 5px 0px 5px 10px;
}

.main-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-left: 10px;
  align-items: baseline;
}
.main-list > li {
  flex: 1 0 auto;
  margin-right: 15px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}

.btn {
  border: palevioletred solid 2px;

  border-radius: 12px;
  padding: 0px 10px;
  background-color: palevioletred;
  color: white;
}

/**cover*/
.cover {
  color: white;
  background: url(img/cafe-cover.jpg) no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
.hidden-list {
  display: none;
}

.cover-h2 {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 80px;
  margin-bottom: 0px;
}
.cover-h1 {
  text-transform: uppercase;
  font-size: 40px;

  margin-top: 0px;
}
.cover-p {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*cards*/
.cards {
  display: flex;
  margin-top: 50px;
  background-color: white;
  color: black;
  flex-wrap: wrap;
}
.cards > div {
  padding: 20px;
  flex: 1 1 300px;
}
.card-h2 {
  font-size: 15px;
}
.fast {
  background-color: #f5eded;
}
.cards > div > p {
  color: rgb(49, 49, 49);
  font-size: 15px;
}

/**types*/

.type {
  margin: 80px 0;
}
.type h1 {
  text-align: center;

  font-size: 25px;
  color: rgb(49, 49, 49);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.grid-box {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-top: 80px;
  padding-bottom: 80px;
  grid-gap: 40px;
}
.grid-box * {
  align-self: center;
}

.grid-box img {
  width: 100%;
  height: 250px;
}
.box .test {
  padding: 10px 10px;
}

.box h2 {
  color: palevioletred;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;
}
.box p {
  font-size: 15px;
  color: rgb(0, 0, 0, 0.6);
  margin-bottom: 20px;
  text-align: justify;
}

/*our stuff*/

.our-stuff {
  background: url(img/our-stuff.jpg) no-repeat center center/cover;
  margin-bottom: 80px;
}

.our-stuff .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.numbers {
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}
.vist {
  flex: 0 1 45%;
  order: 1;
  margin-top: 80px;
  color: white;
}
.vist p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.one {
  flex: 1 1 45%;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 20px 20px 0;
}

.one > a {
  color: palevioletred;
}
.one > p {
  margin-top: 40px;
}
.num {
  position: relative;
}
.num h2 {
  position: absolute;
  top: 6px;
  left: 0px;

  font-size: 15px;
}
.num h1 {
  font-size: 50px;
  position: absolute;
  top: -10px;
  left: 0px;
  opacity: 0.7;
  color: grey;
  font-weight: bolder;
}
/**our team**/
.ourteam > h1 {
  text-align: center;
  font-weight: lighter;
}
.ourteam > h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: lighter;
}
.ourteam {
  margin-bottom: 40px;
}
.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imploer {
  flex: 0 1 200px;
  padding: 20px;
}
.imploer img {
  margin-bottom: 20px;
}
.info h1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.info h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(49, 49, 49);
}
.info p {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(49, 49, 49);
}

/*our-coffee*/
.our-coffee {
  background: url(/img/our-coffee.jpg) no-repeat center center/cover;
}
.our-coffee {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  color: white;
  line-height: 1.5;
}
.our-coffee > h2 {
  font-size: 20px;
  font-weight: lighter;
}

/*our philosophy*/
.our-philosophy {
  background-color: whitesmoke;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-item {
  flex: 0 1 250px;

  background-color: white;
  text-align: center;
  margin-bottom: 80px;
  padding-bottom: 20px;
}
.blog > :last-child {
  margin-right: 0px;
}

.pic {
  position: relative;
}
.pic a {
  position: absolute;
  top: 20px;
  left: 20px;
}
.container > h1 {
  padding-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: lighter;
}
.blog-item > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
}
.blog-item > p {
  margin-bottom: 20px;
}

/**our spead*/
.our-speed {
  text-align: start;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  background: url(/img/spead.jpg) no-repeat center center/cover;
  opacity: 0.8;
  font-weight: lighter;
}
#h1 {
  margin-bottom: 40px;
  text-align: start;
  padding-top: 0px;
}
.our-speed h2,
.our-speed p {
  font-size: 15px;
  opacity: 0.8;
  padding-bottom: 10px;
}

.up,
.down {
  display: none;
}
.team-speed {
  display: flex;
}
.speed-mem {
  flex: 0 1 30%;
  margin-right: 40px;
  text-align: justify;
}
.team-speed > :first-child {
  margin-right: 40px;
  align-self: center;
}
.team-speed > :last-child {
  align-self: center;
}
.speed-mem h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

/**social media*/

.social-media {
  text-align: center;
  padding-top: 80px;
  font-weight: lighter;
  padding-bottom: 80px;
}
.social-media > h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: rgb(49, 49, 49, 0.6);
  font-weight: lighter;
}
.icons > img {
  height: 50px;
  width: 50px;
  margin-bottom: 80px;
  margin-top: 40px;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact > * {
  flex: 1 1 350x;
  margin-bottom: 20px;
  margin-left: 0px;
}
.git-in > input {
  margin-bottom: 20px;
}
.contact h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 5px;
}
.address img {
  width: 100px;
  height: 50px;
}
.address h2 {
  width: 100px;
}
.address p {
  width: 100px;
  font-size: 15px;
  color: rgb(49, 49, 49, 0.6);
  text-align: justify;
}
.address,
.days,
.git-in {
  text-align: start;
}

@media (max-width: 790px) {
  .navigation {
    flex-direction: column;
  }
  .contact {
    flex-direction: column;
    align-content: center;
  }

  .grid-box {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .l-box {
    order: 1;
  }
  .team-speed {
    flex-direction: column;
  }
  .team-speed * {
    margin-bottom: 20px;
  }
  .left,
  .right {
    display: none;
  }
  .up,
  .down {
    display: inline-block;
    margin-left: 50%;
    margin-right: 50%;
  }
}
@media (max-width: 990px) {
  .blog {
    justify-content: space-evenly;
  }
}
